#popupMessage.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out forwards;
}
#play-audio {
  transition: opacity 0.5s ease, transform 0.3s ease;
}

#play-audio.fade-out {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out forwards;
}

.fade-in {
  opacity: 0; /* Початковий стан - приховано */
  animation: fade-in 1s ease-out forwards;
}

.fade-in2 {
  opacity: 0; /* Початковий стан - приховано */
  animation: fade-in2 1.5s ease-out forwards;
}


@keyframes popup-show {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px); /* Невеликий зсув для створення ефекту */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in2 {
    from {
      opacity: 0;
      transform: translateY(30px); /* Невеликий зсув для створення ефекту */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes typing-effect {
    0% {
      opacity: 0;
      color: #000000; /* Початковий колір */
    }
    50% {
      color: #5e5e5e; /* М’який колір у середині */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Повернення на місце */
      color: #ffffff; /* Кінцевий колір */
    }
  }